@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Rampart+One&display=swap');

img {
    float: left;
    margin-right: 20px;
}

h1 {

    font-family: Rampart One, sans-serif;
    color: purple;
    text-align: center;
    font-size: 70px;
}

h2 {

    color: purple;
    text-align: center;
    font-family: Rampart One, sans-serif;
    font-size: 300%;
    font-weight:bolder;
    padding-top: 10px;
    padding-bottom: 10px;

}

h3 {
    text-align: center;
    color: rgb(184, 51, 155);
    padding-top: 10px;
    padding-bottom: 10px;
}

header {

    text-align: center;
    color: rgb(88, 6, 83) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

i{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

nav {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: larger;
}

nav ul {

    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden; 
    background-color: rgb(206, 173, 216);
    color: rgb(205, 115, 170);
    
    /* position: fixed; */

    width: 100%;
} 

nav a {

    text-decoration: none;
    color: purple;
    text-align: center;
}

nav a:hover {

    background-color: rgb(203, 131, 184);
}

body {

    background-image: url(dreamybg.jpg);
}

p {

    text-align: justify;
    font-size: larger;
    font-size: large;
    color: rgb(182, 42, 123);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

footer {
    color: purple ;
    font-family: "Dancing Script", cursive;
}

h5{
    font-size:x-large;
}

h6{
    font-size: small;
}

